body {
    padding-top: 50px;
    padding-bottom: 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* All image */
.gallery img{
    margin: 9px; 
    border: 4px solid #fff;
    max-height: 350px;
    max-width: 350px;
}

a.fancybox:hover img{
    border: 3px solid #1aadc2; /* change the colore of border when you target the image */
}

/*Random image*/
.oneImage img {
    margin:9px;
    border:4px solid #fff;
    height: auto;
    width: 100%;
}   